.ContentMain{
    width: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../assets/Webpage.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #FFFFFF;
    padding: 227px 20px 65px;
}

.ContentMain .container-wide{
    display: flex;
    gap:30px;
    min-height: 580px;
    align-items: center;

}
.ContentMain h2 {
    color: #FFFFFF;
    font-family: "Montserrat Alternates", Sans-serif;
    font-size: 36px;
    font-weight: 700;
}
h1.heading{
   font-size: 91px;
   line-height: 1;
   font-weight: 700;
}
.para1{
    font-size: 18px;
    max-width: 600px;
    margin-top: 30px;
}
.para2{
  margin-top: 10px;
}
.para3{
    margin-top: 20px;
    color: #98ef00;
    word-break: break-all;
}
.fSection{
    width: 50%;
    text-align: start;
    line-height: 1.5;
}

.sSection iframe{
    border: 6px solid #98ef00;
    border-radius: 30px;
    box-sizing: border-box;
}

.sSection{
    width: 50%;
}
.forF{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
}
.icon-div{
    display: flex;
}

.icon{
    width: 30px;
    margin-right: 20px;
    transition: 0.3s all;
}
.icon:hover{
    transform: scale(1.2);
}
.fMain h2{
    font-size: 37px;
    line-height: 1.2;
    font-weight: 600;
}

.fMain p{
  max-width: 828px;
  margin: 20px auto;
}

.image-div img{
    max-width: 100%;
}

@media only screen and (max-width: 950px) {
  .para1,.para2,.para3{
    font-size: 12px;
  }

    h1.heading {
        font-size: 64px;
    }

    .ContentMain .container-wide {
        min-height: 550px;
    }

    iframe {
        height: 350px !important;
    }
}
@media only screen and (max-width: 850px) {
    .ContentMain .container-wide{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: auto;
        gap: 50px;
    }

    .ContentMain {
        padding: 220px 20px 60px;
    }

    .fSection,.sSection{
        width: 100%;
    }
    .para1,.para2,.para3{
        font-size: 17px;
      }

      .fSection{
        margin-top: 0%;
      }  

      h1.heading {
        font-size: 49px;
    }

    iframe{
        width: 100% !important;
    }
}

@media (max-width:767px){
    h1.heading {
        font-size: 35px;
    }

    .para1 {
        font-size: 16px;
    }

    .ContentMain h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .ContentMain {
        padding: 176px 20px 60px;
    }

    .ContentMain .container-wide {
        gap: 40px;
    }
}