

.hMain {
  background-color: #5d4277;
  padding: 16px 20px;
  border-bottom: 6px solid #98ef00;
}

.hMain .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hIcon img {
  width: 200px;
  margin: -38px 0 -49px;
}

header{
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

header .MuiContainer-root {
  max-width: 1170px;
  margin: 0 auto;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-btns{
  display: none;
}

 
 .navigation{
  display: flex;
  align-items: center;
  justify-content: space-between
  
 }
 
 .site-logo {
   display: flex;
  align-items: center;
  column-gap: 10px
 }
 
 a.site-logo {
  font-size: 20px ;
     font-weight: 500 ;
  color:rgb(85, 85, 85);
   text-decoration: none;
   font-family: 'Roboto';
 }
 
 .site-logo img{
   max-width: 50px;
  width: 100%
 }
 
 header ul {
    display: flex;
    gap:20px;
    list-style: none
 }
 
 header ul li a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Roboto';
  color:rgb(85, 85, 85)
 }
 
 header ul li a:hover{
  color:#EE6623
 }
 
 .mob-nav {
  display: none;
 }

@media(max-width:767px){
  .menu-btns{
    display: flex;
    justify-content: flex-end;
  }

  .menu-btns button{
    background: transparent;
    padding: 0;
    border: none;
    outline:none
  }

  .mob-nav.active{
display: flex;
  }

  .desk-nav{
    display: none;
  }

  header ul {
    flex-direction: column;
    padding: 20px;
  }

  .mob-nav {
    position: fixed;
    width: 100%;
    top: 80px;
    background: white;
    height: 200px;
    transform: translateX(-300px);
    left: 0;
    transition: all .3s cubic-bezier(.77,0,.175,1);
    z-index: 2;
    border-top: 1px solid #ffa50040;
   }
   
   .mob-nav.active{
     transform: translateX(0);
   
   }

   .hIcon img {
    width: 154px;
    margin: -33px 0 -41px;
   }    
}