.fMain{
    width: 100%;
    height: 660px;
    background-color: #000000;
    color: white;
}
.content{
    width: 60%;
    margin-left: 19%;
    padding-top: 4%;
}
.btn-div button{
    background-color: #EE6623;
    min-width: max-content;
    border: none;
    padding: 15px 20px;
    border-radius: 40px;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s all;
}

.btn-div button:hover{
    background: #fff;
    color:#EE6623;
}

@media only screen and (max-width: 800px) {
    .image-div img{
        width: 100%;
    }
}