.fMain{

    background-color: #000000;
    color: white;
    padding: 68px 20px;
}

.fMain .contaienr{
    max-width: 828px;
    max-width: '0 auto';
}

.content {
  
}
.btn-div button , button{
    background-color: #98ef00;
    min-width: max-content;
    border: none;
    padding: 15px 20px;
    border-radius: 40px;
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    transition: 0.3s all;
    cursor: pointer;
}

.btn-div button:hover , button:hover {
    box-shadow:0 3px 14px 5px #98ef0070;
}

.btn-div {
    margin-top: 30px;
}

.icon-div a{
    display: flex;
    align-content: center;
}

@media only screen and (max-width: 767px) {
    .image-div img{
        width: 100%;
    }

    .fMain {
        padding: 54px 20px;
    }

    .fMain h2 {
        font-size: 30px;
    }

    .ContentMain h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .icon {
        width: 23px;
        margin-right: 13px;
    }

    .btn-div button, button {
        padding: 12px 17px;
        font-size: 14px;
    }


}

@media (max-width:479px){
    .forF {
        gap: 17px;
    }

    iframe {
        height: 300px !important;
    }
}